# Android Studio / IntelliJ
.idea/
*.iml

# Gradle y Kotlin
.gradle/
.kotlin/
**/build/

# Configuración local
local.properties

# Archivos generados por Android
captures/
.externalNativeBuild/
.cxx/

# Registros de errores de JVM
hs_err_pid*.log
replay_pid*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/